<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-column">
                <h3>Magician Tech</h3>
                <ul>
                    <li>+5493548 llamarahora</li>
                    <li><a href="projects">Nuestras Webs</a></li>
                    <li><a href="Avances">Últimos avances</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Jarvis</h3>
                <ul>
                    <li><a href="/jarvis/personal">Para todos</a></li>
                    <li><a href="/jarvis/usos">Usos</a></li>
                    <li><a href="/jarvis/empresas">Para empresas</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Empresa y Legal</h3>
                <ul>
                    <li><a href="about">Sobre nosotros</a></li>
                    <li><a href="/terminos">Términos de uso</a></li>
                    <li><a href="/privacidad">Política de privacidad</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">

            <div class="social-icons">
                <a href="https://github.com/MagicianTech" target="_blank" aria-label="GitHub">
                    <i class="fab fa-github fa-lg"></i>
                </a>
                <a href="https://www.instagram.com/magicians_tech/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://www.tiktok.com/" target="_blank" aria-label="TikTok">
                    <i class="fab fa-tiktok fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/feed/" target="_blank" aria-label="LinkedIn">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<!-- Esto hace que pueda ver los iconos, wow-->