<main>
    <div class="formulario">
        <h1>Consigue</h1>
        <form action="" id="fomularioconseguir">
            <li class="inputsform">
                <input type="text" placeholder="Tu Nombre">
                <input type="text" placeholder="Tu Apellido">
                <input type="text" placeholder="Tu Email">
                <input type="text" placeholder="Tu Numero de telefono">
                <input type="text" placeholder="El Nombre de tu empresa">
            </li>
            <div class="texto-p-form">
                <p>¿Podrias detallar el tipo de pagina web que estas buscando?</p>
                <p>¿Tienes ejemplos de painas webs en mente?</p>
                <p>Nos seria de gran ayuda que seas lo mas detallado posible posible </p>
            </div> 
            <textarea cols="60" rows="10" wrap="hard" class="" placeholder=". . . . "></textarea>
            
            <button >
                <a href=""><h1>Enviar</h1></a>
            </button>
        </form>
    </div>
</main>