<main>
    <div class="formulario">
        <h1>Consigue</h1>
        <form action="" id="formularioconseguir">
            <ul class="inputsform">
                <li>
                    <input #nombre type="text" name="nombre" placeholder="Nombre" required>
                </li>
                <li>
                    <input #apellido type="text" name="apellido" placeholder="Apellido" required>
                </li>
                <li>
                    <input #email type="email" name="email" placeholder="Email" required>
                </li>
                <li>
                    <input #telefono type="tel" name="telefono" placeholder="Número de teléfono" required>
                </li>
                <li>
                    <input #empresa id="empresa" type="text" name="empresa" placeholder="Nombre de tu empresa" required>
                </li>
            </ul>
            <div class="texto-p-form">
                <p>¿Podrías detallar el tipo de página web que estás buscando?</p>
                <p>¿Tienes ejemplos de páginas webs en mente?</p>
                <p>Nos sería de gran ayuda que seas lo más detallado posible.</p>
            </div> 
            <textarea id="detalles" name="detalles" cols="60" rows="10" wrap="hard" placeholder=". . . . "></textarea>
            <button type="submit" (click)="Enviar()">
                <h1>Enviar</h1>
            </button>
        </form>
    </div>
</main>
