<main>
    <div class="formulario">
        <h1>Consigue tu aplicación</h1>
        <form id="formularioconseguir" (submit)="Enviar($event)">
            <ul class="inputsform">
                <li>
                    <input #nombre type="text" name="nombre" placeholder="Nombre" required>
                </li>
                <li>
                    <input #apellido type="text" name="apellido" placeholder="Apellido" required>
                </li>
                <li>
                    <input #email type="email" name="email" placeholder="Email" required>
                </li>
                <li>
                    <input #telefono type="number" name="telefono" placeholder="Número de teléfono" required>
                </li>
                <li>
                    <input #empresa type="text" name="empresa" placeholder="Nombre de tu empresa" required>
                </li>
            </ul>
            <div class="texto-p-form">
                <p>¿Podrías detallar qué tipo de página web o aplicación necesitas?</p>
                <p>¿Tienes algún ejemplo de página web en mente?</p>
                <p>Sería de gran ayuda que nos brindes la mayor cantidad de detalles posible.</p>
            </div>
            <textarea #detalles name="detalles" cols="60" rows="10" wrap="hard" placeholder=". . . . "></textarea>
            <button type="submit">
                <h1>Enviar</h1>
            </button>
            <div #mensaje id="mensaje"></div>
        </form>
    </div>
</main>
