<main>
    <div class="home">
        <div class="logo">
            <div class="Portada">
                <img class="imagen-Logo" src="Logo_blanco.png" alt="logo" height="700px">
                <h1 class="Magician-H1">agician</h1>
                <h1 class="Web-H1">ech</h1>
                <h2 class="CTPW">Consige Tu Propia App</h2>
            </div>
        </div>
        <img class="mago-img-1" src="bitmap.svg" alt="mago-img-1" height="1000px">
    </div>
    <div class="conseguir">
        <div>
            <h1>Consige tu prpia Aplicacion</h1>
            <p>Lorem ipsum is a placeholder text used in graphic design, typography,
            and digital publishing to demonstrate the layout and visual aspects of a
            design without being distracted by actual content. It originated from a 
            Latin text written by Cicero, but has since been modified and rearranged
            to create a nonsensical, yet aesthetically pleasing, text.</p>
            <p>Lorem ipsum is a placeholder text used in graphic design, typography,
            and digital publishing to demonstrate the layout and visual aspects of a
            design without being distracted by actual content. It originated from a 
            Latin text written by Cicero, but has since been modified and rearranged
            to create a nonsensical, yet aesthetically pleasing, text.</p>
            <div class="consige">
                <button id="but-conseguir">CONSEGUIR</button>
            </div>
        </div>
    </div>
    <div class="sobreNosotros">
        <h1>mas info</h1>
    </div>
</main>
