<main>
    <div class="home">
        <div class="logo">
            <div class="Portada">
                <img class="imagen-Logo" src="Logo_blanco.png" alt="logo" height="700px">
                <h1 class="Magician-H1">agician</h1>
                <h1 class="tech-H1">ech</h1>
                <h2 class="CTPW">Consigue Tu Propia App</h2>
            </div>
        </div>
        <img class="mago-img-1" src="magician.png" alt="mago-img-1" height="1000px">
    </div>
    <div class="conseguir">
        <div>
            <h1>Consigue tu propia Aplicación</h1>
            <p>En la era digital actual, la presencia en línea es un pilar fundamental para el éxito de cualquier empresa. Las aplicaciones web, móviles y de escritorio no solo son herramientas tecnológicas, sino que representan un canal estratégico para mejorar la eficiencia, la comunicación y la satisfacción del cliente.</p>
            <ul>
                <li><strong>Mejora de la Experiencia del Cliente:</strong> Ofrecen una experiencia personalizada, rápida e intuitiva.</li>
                <li><strong>Acceso Inmediato y Disponibilidad 24/7:</strong> Permiten a los clientes acceder a información y realizar operaciones en cualquier momento y lugar.</li>
                <li><strong>Incremento de la Eficiencia Operativa:</strong> Automatizan procesos, optimizan flujos de trabajo y reducen errores.</li>
                <li><strong>Ventaja Competitiva:</strong> Ayudan a destacar frente a la competencia.</li>
                <li><strong>Recopilación y Análisis de Datos:</strong> Facilitan la obtención de datos sobre el comportamiento del usuario.</li>
                <li><strong>Expansión del Alcance de Mercado:</strong> Permiten llegar a audiencias globales.</li>
                <li><strong>Fidelización y Estrategias de Marketing Directo:</strong> Mantienen contacto con los clientes mediante notificaciones y promociones personalizadas.</li>
            </ul>
            <div class="consige" (click)="consiquehref()">
                <button id="but-conseguir">CONSEGUIR</button>
            </div>
        </div>
    </div>
    <div class="sobreNosotros" id="sobrenosotros">
        <div>
            <h1>Sobre Nosotros</h1>
            <img src="tamoooo.png" alt="mago-img-frente-2">
        </div>
        <div>
            <div class="texto">
                <p>Somos un equipo apasionado por la tecnología y el desarrollo de aplicaciones innovadoras. Nos especializamos en soluciones digitales a medida que potencian el crecimiento y la eficiencia de los negocios.</p>
                <p>Trabajamos con las últimas tecnologías para garantizar productos de alta calidad, seguridad y rendimiento. Nos enfocamos en el desarrollo ágil, priorizando la experiencia del usuario y la adaptabilidad a distintos entornos.</p>
                <p>Nuestro equipo está compuesto por Giovanni Peirone y Jordan Iralde, especialistas en Desarrollo Full Stack, lo que nos permite ofrecer un enfoque integral en cada proyecto.</p>
            </div>
            <a href="abaut">Conocer más...</a> 
        </div>
   </div>
</main>
