.home{
    position: relative;
}

.Portada{
    position: relative;

}

.Portada h1 {
    user-select: none;
}

.Portada h2 {
    user-select: none;
}

.imagen-Logo{
    height: 600px;
}

.Magician-H1{
    color: #778DA9;
    position: absolute;
    position: absolute;
    font-size: 150px;
    top: 160px;
    left: 310px;
}

.Web-H1{
    color: #E0E1DD;
    font-size: 200px;
    position: absolute;
    top: 300px;
    left: 300px;
}

.mago-img-1{
    position: absolute;
    top: 10px;
    right: 2%;
}

.CTPW{
    color: #F4A259;
    top: 500px;
    left: 150px;
    position: absolute;
    
}


.conseguir{
    margin: auto;
    padding: 5%; 
    width: 89%;
    color: #ffffff;
    backdrop-filter: blur(10px); /* Desenfoque */
    background: rgba(27, 38, 59, 0.61); /* Color semitransparente */
    z-index: -1; /* Asegura que quede detrás del contenido */ 
    border-radius: 30px;
    margin-top: 22%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.conseguir h1{
    margin-top: 5%;
    margin-bottom: 5%;
}

.conseguir p{
    margin-bottom: 5%;
}

.consige{
    align-items: center;
    width: 100%;
}

.consige button{
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: #5B8E7D;
    color: #F4A259;
    font-size: 60px;
    border: none;
    list-style: none;
    user-select: none;
}

.consige button:hover{
    background-color: #466e62;
}

