<div class="conseguir">
    <h1>Consigue tu propia Aplicación</h1>
    <p>En la era digital actual, la presencia en línea es un pilar fundamental para el éxito de cualquier empresa. Las aplicaciones web, móviles y de escritorio no solo son herramientas tecnológicas, sino que representan un canal estratégico para mejorar la eficiencia, la comunicación y la satisfacción del cliente.</p>
        
    <h2>Beneficios de tener tu propia aplicación:</h2>
    <ul>
            <li><strong>Mejora de la Experiencia del Cliente:</strong> Aplicaciones rápidas, intuitivas y personalizadas que fomentan la fidelidad del cliente.</li>
            <li><strong>Acceso Inmediato y Disponibilidad 24/7:</strong> Permiten realizar operaciones en cualquier momento y lugar.</li>
            <li><strong>Incremento de la Eficiencia Operativa:</strong> Automatización de procesos para mayor productividad y reducción de costos.</li>
            <li><strong>Ventaja Competitiva:</strong> Demuestra compromiso con la innovación y nuevas tendencias.</li>
            <li><strong>Recopilación y Análisis de Datos:</strong> Facilita la toma de decisiones estratégicas basadas en datos reales.</li>
            <li><strong>Expansión del Alcance de Mercado:</strong> Llega a audiencias globales sin restricciones geográficas.</li>
            <li><strong>Fidelización y Marketing Directo:</strong> Notificaciones y promociones personalizadas para mantener el contacto con clientes.</li>
    </ul>
    <div class="consigue" (click)="consiguehref()">
            <button id="but-conseguir">CONSEGUIR</button>
    </div>
</div>