
.sobreNosotros{
    margin-top: 5%;
    height: 100%;
    padding: 8%;
    backdrop-filter: blur(10px); /* Desenfoque */
    background: rgba(27, 38, 59, 0.30); /* Color semitransparente */
    z-index: -1; /* Asegura que quede detrás del contenido */ 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #E0E1DD;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.sobreNosotros img {
    user-select: none;
    margin-left: 10%;
}

.sobreNosotros p{
    margin-top: 10%;
}

.texto{
    margin-bottom: 30%;
}
.sobreNosotros a{
    color: #F4A259;
}

.sobreNosotros a:hover{
    color: #bc7c44;
}

@media (max-width: 768px){
    .sobreNosotros{
        margin-top: 10%;
        grid-template-columns: repeat(1, 1fr);
    }

    .sobreNosotros img{
        display: none;
    }
}