<div class="sobreNosotros" id="sobrenosotros">
    <div>
        <h1>Sobre Nosotros</h1>
        <img src="tamoooo.png" alt="mago-img-frente-2">
    </div>
    <div>
        <div class="texto">
            <p><strong>Somos Magician Tech</strong>, un equipo apasionado por la tecnología y el desarrollo de aplicaciones innovadoras. Nos especializamos en crear <strong>soluciones digitales a medida</strong>, ayudando a empresas y emprendedores a potenciar su crecimiento y eficiencia a través de la tecnología.</p>
            <p>Nuestro equipo está compuesto por <strong>Giovanni Peirone y Jordan Iralde</strong>, especialistas en <strong>Desarrollo Full Stack</strong>, lo que nos permite ofrecer un enfoque integral en cada proyecto, desde la arquitectura hasta la experiencia del usuario.</p>
            <p>Utilizamos tecnologías modernas como <strong>React, Node.js, Python, TypeScript y MongoDB</strong>, asegurando que nuestros productos sean <strong>rápidos, seguros y escalables</strong>. Nos enfocamos en el <strong>desarrollo ágil</strong>, priorizando la optimización de recursos, la experiencia del usuario y la adaptabilidad a distintos entornos y mercados.</p>
            <p>Creemos en la <strong>innovación constante</strong> y en la transformación digital como clave para el éxito empresarial. Si buscas llevar tu idea al siguiente nivel con una aplicación funcional y escalable, estamos aquí para hacerlo realidad.</p>
        </div>
        <div class="contacto">
            <h2>Contáctanos</h2>
            <ul>
                <li>🔗 <a href="https://www.linkedin.com/in/jordanir/" target="_blank">Jordan Iralde - LinkedIn</a></li>
                <li>🔗 <a href="https://www.linkedin.com/in/maximo-giovanni-peirone-a0426b2a9/" target="_blank">Giovanni Peirone - LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
