<header>
    <div class="logo">
        <a href="index.html">
            <img src="MagicianTech.png" alt="Logotipo">
        </a>
    </div>
    <button (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav>
        <a href="/">Home</a>
        <a href="conseguir">Conseguir</a>
        <a href="#sobrenosotros">Sobre Nosotros</a>
        <a href="#footer">Contáctanos</a>

        <div class="headerFooret">
            <div class="footer-bottom">
                <div class="social-icons">
                    <a href="https://github.com/MagicianTech" target="_blank" aria-label="GitHub">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="https://www.instagram.com/magicians_tech/" target="_blank" aria-label="Instagram">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="https://www.tiktok.com/" target="_blank" aria-label="TikTok">
                        <i class="fab fa-tiktok fa-lg"></i>
                    </a>
                    <a href="https://www.linkedin.com/feed/" target="_blank" aria-label="LinkedIn">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
