header {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    position: sticky; /* El header permanece fijo en la parte superior */
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    height: 80px;
}

header:hover {
    backdrop-filter: blur(3px);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px; /* Ajusta el tamaño del ícono */
    transform: scale(1); /* Tamaño inicial */
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #E0E1DD;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #F4A259; /* Cambia el color al pasar el mouse */
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F4A259;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%; /* Agrega una línea de subrayado animada */
}

button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

button span {
    width: 100%;
    height: 3px;
    background-color: #E0E1DD;
    transition: all 0.3s ease;
}


@media screen and (max-width: 480px) {
    header {
        padding: 12px 8px;
    }

    nav {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    nav a:hover {
        color: #bfbfbf;    
    }

    .logo img {
        height: 45px;
    }
}

@media screen and (max-width: 320px) {
    nav {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    nav a {
        font-size: 12px;
        padding: 5px 8px;
    }

    .logo img {
        height: 40px;
    }
}
@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 80px;
        right: 0px;
        width: 60%;
        height: 550px;
        background-color: #1B263B;
        padding: 20px;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;        
        transition: all 0.3s ease;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }


    nav.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    button {
        display: flex;
    }
    
}
