/* You can add global styles to this file, and also import other style files */
*{
    margin: 0%;
    padding: 0%;
    font-family:'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #0D1B2A;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

footer{
    position: relative;
    z-index: 99;
}

header{
    position: relative;
    z-index: 99;
}

main{
    position: relative;
    z-index: 99;
}


