<div class="NusetrasWeb">
    <h1 style="color: #f0f0f0;">PROYECTOS DESTACADOS</h1>

    <br>
    <div class="project">
        <h2>Floyd Machine</h2>
        <p>Un sistema avanzado para resolver problemas de caminos mínimos utilizando....</p>
        <a href="https://github.com/GiovanniPeirone/Floyd-Machine" target="_blank">Ver más</a>
    </div>

    <div class="project">
        <h2>JarvisAI</h2>
        <p>Un asistente virtual revolucionario, diseñado para ser libre, accesible y útil para el progreso humano.</p>
        <a href="https://github.com/Jordan-Iralde/ProBestoJarvisAI" target="_blank">Ver más</a>
    </div>

    <div class="project">
        <h2>Página Web del Hospital</h2>
        <p>Un sitio web dinámico y accesible diseñado para gestionar la información y servicios de un hospital en La Falda.</p>
        <a href="https://teresani.github.io/Integracio_de_paginas/AIntegracion/" target="_blank">Ver más</a>
    </div>
</div>