h1 {
    color: #f0f0f0;
    padding: 5%;
}


.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Por defecto, 4 columnas */
    gap: 52px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}



@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
    }
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 70px;
    background-color: hsla(219, 37%, 17%, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Efecto hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}


.card-image {
    width: 320px;
    height: 240px;
    border-radius: 40px;
    margin-bottom: 20px;
}

/* Colores de fondo para las cartas */
.card.yellow .card-image {
    background-color: #FFD700;
}

.card.green .card-image {
    background-color: #2ECC71;
}

.card.red .card-image {
    background-color: #E74C3C;
}

.card h3 {
    font-size: 40px;
    margin: 0;
    text-align: left;
    align-content: center;
}

.card p {
    font-size: 20px;
    text-align: center;
}
a   {
    z-index: 0;
    text-decoration: none;
    color: #FFFFFF;
}