<h1 >Nuestras Webs</h1>

<div class="cards">
    <button class="card yellow">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>
    <button class="card green">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>
    <button class="card red">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>

    <button class="card yellow">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>
    <button class="card green">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>
    <button class="card red">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>

    <button class="card yellow">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>

    <button class="card green">
        <div class="card-image"></div>
        <h3>Página Giovanni</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>
    <button class="card red">
        <div class="card-image"></div>
        <h3>Página Jordan</h3>
        <p> 
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </button>
</div>
