<h1 >Nuestras Webs</h1>

<div class="cards">
    
    <a href="#" class="card yellow">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>
    <a href="#" class="card green">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>
    <a href="#" class="card red">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>

    <a href="#" class="card yellow">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>
    <a href="#" class="card green">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>
    <a href="#" class="card red">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>

    <a href="#" class="card yellow">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>

    <a href="#" class="card green">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>
    <a href="#" class="card red">
        <div class="card-image"></div>
        <h3>Página Pepito</h3>
        <p>
            Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </a>
</div>
